<div  class="form-group" ng-controller="registerTraining">
	<div class="col-md-3"></div>
	<div class="col-md-6">
	<h2 align="center" class="text-primary">Training Registration Page</h2>
    <h4 align="center" class="text-danger">{{message}}</h4>
	<form  class="from-role" ng-submit="postData()">
		<table class="table table-striped table-hover" align="center">
		<tr class="bg-danger">
		<td>Training Name</td>
		<td><input type="text" name="" placeholder="Training Name" ng-model="training.name"></td>
		</tr>
		<tr class="bg-success">
		<td>Start Date</td>
		<td><input type="date" name="" ng-model="training.startDate"></td>
		</tr>
		<tr class="bg-danger">
		<td>Vacancy</td>
		<td><input type="number" name="" max="60" min="1" ng-model="training.vacancy"></td>
		</tr>
		<tr class="bg-success">
		<td>Location</td>
		<td> <input type="text" name="" placeholder="Location" ng-model="training.location"></td>
		</tr>
		<tr class="bg-danger">
		<td>Start Time</td>
		<td><input type="time" name="" ng-model="training.startTime"></td>
		</tr>
		<tr class="bg-success">
		<td>End Time</td>
		<td><input type="time" name="" ng-model="training.endTime"></td>
		</tr>
		<tr class="bg-danger">
		<td>Duration(In days)</td>
		<td><input type="number" name="" min="1" ng-model="training.duration"></td>
		</tr>
        <tr class="bg-success">
		<td>Type</td>
		<td> <input type="text" name="" placeholder="Technical or Softskill" ng-model="training.type"></td>
		</tr>
        <tr class="bg-success">
		<td>Technology</td>
		<td><select ng-model="technology" ng-click="showTechnology(technology)">
                <option>Java</option>
                <option>Spring</option>
                <option>ASP.NET</option>
                <option>PHP</option>
                <option>Perl</option>
                <option>BI</option>
                <option>Cloud Computing</option>
                <option>Manual Testing</option>
                <option>Automation Testing</option>
            </select>
		</tr>
		<tr class="bg-danger">
		<td>Trainer Name</td>
		<td><select ng-model="training.trainerId" ng-change="showTechnology(technology)">
                <option ng-repeat="trainer in trainers" value='{{trainer.empId}}'> {{trainer.empId}} &nbsp;&nbsp; {{trainer.name}} </option>
            </select>
        </tr>
		<tr class="bg-success">
		<td>Nominate</td>
		<td><input type="text" name="" placeholder="emailId or Group" ng-model="training.nominate"></td>
		</tr>
		<tr class="bg-danger">
		<td>Targeted Audience</td>
		<td><input type="text" name="" placeholder="Targeted Audience" ng-model="training.targetedAudience"></td>
		</tr>
		<tr>
		<td></td>
		<td><input type="submit" class="btn btn-info btn-block" value="Add Training"></td>
		</tr>
		</table>	
	</form>
	</div>
	<div class="col-md-3"></div>
</div>
