<div ng-controller="searchTraining">
    <div class="row" style="margin-top: 12em"  ng-show="searchbar">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="padding: 10px;">
        <h4>{{$message}}</h4>
        <br>
            <p style="font: italic bold 22px/40px Georgia, serif;">Future Trainings</p>
        <br>
        <form>
            <input type="text" ng-model="training.name" class="form-control" autofocus>
            <br>
            <br> <input type="submit" class="btn btn-primary"
                value="Search" style="float: right" ng-click="search()">
        </form>
    </div>
    </div>

    <div ng-show="searchbarTrainigList">
    <div class="row">
    
    <div class="col-md-4"></div>
    <div class="col-md-4" style="padding: 10px;">
        <h4>{{$message}}</h4>
        <br>
            <p style="font: italic bold 22px/40px Georgia, serif;">Future Trainings</p>
        <br>
        <form>
            <input type="text" ng-model="training.name" class="form-control" style="display: inline; width: 60%;" autofocus> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" class="btn btn-primary"
                value="Search" ng-click="search()">
        </form>
    </div>
    </div>
	
	
	<table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
                <th>Training Name</th><th>Training Start Date</th><th>Training Start Time</th><th>Location</th><th>Duration</th><th>Targeted Audience</th>
            </tr>
            <tr data-ng-repeat="records in trainingRec" ng-click="calling(records.trainId)">
                <td ng-click="alert('hello')"> {{ records.name }}</td>
                <td>{{records.startDate}}</td>
                <td>{{records.startTime}}</td>
                <td>{{records.location}}</td>
                <td>{{records.duration}}</td>
                <td>{{records.targetedAudience}}</td>
            </tr>
        </table>
	</div>

        
    
    
    <div ng-show="showsession">
    <div class="row">
   
		
    <div class="col-md-4"></div>
    <div class="col-md-4" style="padding: 10px;">
        <h4>{{$message}}</h4>
        <br>
            <p style="font: italic bold 22px/40px Georgia, serif;">Future Trainings</p>
        <br>
        <form>
            <input type="text" ng-model="training.name" class="form-control" style="display: inline; width: 60%;" autofocus> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="submit" class="btn btn-primary"
                value="Search" ng-click="search()">
        </form>
    </div>
		</div>
    
   
		
		
		
		<table class="table table-striped table-bordered table-hover table-condensed">
        <tr>
                <th>Session No</th><th> Date</th><th> Start Time</th><th>End Time</th><th>Venue</th>
            </tr>
			<tr data-ng-repeat="session in sessionRec">
				<td>{{session[3]}}</td>
                <td>{{session[2]}}</td>
                <td>{{session[1]}}</td>                
                <td>{{session[4]}}</td>
				<td>{{session[5]}}</td>
            </tr>
        </table>
   
    </div>
</div>
